.Head {
    text-align: center;
    margin: 0 auto ;
    border-bottom: 5px solid rgb(136, 136, 136);
    width: 800px;
    background: white;
}
.Head p{
    font-family: 'Aref Ruqaa', serif;
    font-size: 32px;
    margin-top: -30px;
}
.Head span {
    color: #ffd800;
}
