#videoShow {
    display: flex;
    align-items:center;
    justify-content: center; 
    margin: 50px auto;
    flex-direction: column;
}
#vids {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    margin: 20px auto;
}
#nextr {
    padding: 20px 40px;
    border: 0;
    font-size: 24px;
    color:white;
}
#zoom {
    border: 0;
    padding: 10px;
    margin: 5px;
}