#grid-vid{
    display: grid;
    grid-template-columns: 30% 1fr;
}
#videoShow {
    margin: 0px auto;
}
#vids {
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: #FFD800;
}
#vids li {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 5px;
}
#vids li div {
    margin-left: 10px;
    background-color: white;
}
.label-vid{
    color: black;
    font-weight: 600;
    margin-bottom: 5px;
}
#nextr {
    padding: 20px 40px;
    border: 2px solid black;
    font-size: 24px;
    color:black;
    background: #FFD800
}
#zoom {
    border: 0;
    padding: 10px;
    margin: 5px;
}